@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: #FFFCFB;
  --accent-color: #DB6010;
  --text-color: #202020;
  --login-accent-color: #444444;
  --thin-text-color: #9E9E9E;
  --form-color: #9747FF;
  --form-error-color: #E87676;
  --form-border-color: #D1D0D0;
}